project:
  type: website
  output-dir: docs 

website:
  title: "Vy Phan"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/vytphan
      - icon: linkedin
        href: https://www.linkedin.com/in/vythuyphan/
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



